<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"> <!--{{name}} is from {{place}-->
    <title>Text Utlis</title>
</head>
<body bgcolor="#9fb6e0">
<h1> Welcome to the Text Analyzer Enter your text Below:</h1>
<form action='/removepunc' method='get'>
    <textarea name="text" style="background-color: cyan;width: 943px; height: 110px;font-size: 23px;line-height: 38px;font-style: normal;"></textarea></br>
    <input type="checkbox" name="fullcaps">UPPER CASE</br>
    <input type="checkbox" name="charactercount">Character Count</br>
    <input type="checkbox" name="lowercase">lower case </br>
    <button type="submit">Submit</button>

</form>
</body>
</html>